@import 'tailwindcss';
@config "../tailwind.config.js";

/* Effra */
@font-face {
	font-family: 'Effra';
	src: url('/EffraRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/EffraItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/EffraMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/EffraMediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/EffraBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/EffraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/EffraXBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Gothic */
@font-face {
	font-family: 'Gothic';
	src: url('/GOTHIC.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gothic';
	src: url('/GOTHICI.TTF') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Gothic';
	src: url('/GOTHICB.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Futura */
@font-face {
	font-family: 'Futura';
	src: url('/FuturaRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Futura';
	src: url('/FuturaRegularOblique.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Futura';
	src: url('/FuturaHeavy.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Futura';
	src: url('/FuturaHeavyOblique.ttf') format('opentype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Futura';
	src: url('/FuturaBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Futura';
	src: url('/FuturaBoldOblique.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

/* StagSans */
@font-face {
	font-family: 'StagSans';
	src: url('/StagSansMedium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'StagSans';
	src: url('/StagSansBold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* UniGroteskStd */
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/UniGroteskStdReg.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/UniGroteskStdRegIta.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/UniGroteskStdMed.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/UniGroteskStdBld.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.v-lazy-image {
	filter: blur(10px);
	transition: filter 0.5s;
}

.v-lazy-image-loaded {
	filter: blur(0);
}
