@import 'tailwindcss';
@config "../tailwind.config.js";

/* Effra */
@font-face {
	font-family: 'Effra';
	src: url('/src/assets/fonts/EffraRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/src/assets/fonts/EffraItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/src/assets/fonts/EffraMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/src/assets/fonts/EffraMediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/src/assets/fonts/EffraBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Effra';
	src: url('/src/assets/fonts/EffraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Gothic */
@font-face {
	font-family: 'Gothic';
	src: url('/src/assets/fonts/Gothic.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gothic';
	src: url('/src/assets/fonts/GothicItalic.TTF') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Gothic';
	src: url('/src/assets/fonts/GothicBold.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* StagSans */
@font-face {
	font-family: 'StagSans';
	src: url('/src/assets/fonts/StagSansMedium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'StagSans';
	src: url('/src/assets/fonts/StagSansBold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* UniGroteskStd */
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/src/assets/fonts/UniGroteskStdRegular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/src/assets/fonts/UniGroteskStdRegularItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/src/assets/fonts/UniGroteskStdMedium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'UniGroteskStd';
	src: url('/src/assets/fonts/UniGroteskStdBold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.v-lazy-image {
	filter: blur(10px);
	transition: filter 0.5s;
}

.v-lazy-image-loaded {
	filter: blur(0);
}
